@if (coreService.isLoading){
  <app-skeleton [type]="SkeletonEnum.CARD"></app-skeleton>
  }

  @if (!coreService.isLoading){
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <app-header-form [id]="id"></app-header-form>
    </div>
    <div class="p-toolbar-group-right">
      <button pButton
        pRipple
        type="button"
        (click)="back()"
        [icon]="IconButtonActionEnum.CANCEL"
        [label]="LabelButtonActionEnum.CANCEL"
        [loading]="coreService.isLoading"
        [ngClass]="[ClassButtonActionEnum.CANCEL]">
      </button>
      <p-divider layout="vertical"></p-divider>
      <button pButton
        pRipple
        type="button"
        (click)="onSubmit()"
        [icon]="IconButtonActionEnum.SAVE"
        [label]="LabelButtonActionEnum.SAVE"
        [loading]="coreService.isLoading"
        [ngClass]="[ClassButtonActionEnum.SAVE]">
      </button>
    </div>
  </p-toolbar>
  }

  @if (!coreService.isLoading) {
  <p-panel class="p-fluid">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="formgrid grid">
        <div class="field xl:col-4 lg:col-4 md:col-6 sm:col-12">
          <label appLabel for="code" [label]="ExpenseTypesFormEnum.code" [required]="codeField"></label>
          <input pInputText type="text" id="code" formControlName="code" />
          <small appErrorMessage
            [errors]="codeField.errors"
            [touched]="codeField.touched"
            [dirty]="codeField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="name" [label]="ExpenseTypesFormEnum.name" [required]="nameField"></label>
          <app-help-field (mouseenter)="opName.toggle($event)" (mouseleave)="opName.hide()"></app-help-field>
          <input pInputText name="text" id="name" formControlName="name" />
          <small appErrorMessage
            [errors]="nameField.errors"
            [touched]="nameField.touched"
            [dirty]="nameField.dirty">
          </small>
        </div>
        <div class="field xl:col-1 lg:col-1 md:col-6 sm:col-12">
          <label appLabel for="sort" [label]="ExpenseTypesFormEnum.sort" [required]="sortField"></label>
          <p-inputNumber id="sort" formControlName="sort" [min]="1"></p-inputNumber>
          <small appErrorMessage
            [errors]="sortField.errors"
            [touched]="sortField.touched"
            [dirty]="sortField.dirty">
          </small>
        </div>
        <div class="field xl:col-1 lg:col-1 md:col-6 sm:col-12">
          <label appLabel for="enabled" [label]="ExpenseTypesFormEnum.enabled" [required]="enabledField"></label>
          <p>
            <p-inputSwitch id="enabled" formControlName="enabled"></p-inputSwitch>
          </p>
          <small appErrorMessage
            [errors]="enabledField.errors"
            [touched]="enabledField.touched"
            [dirty]="enabledField.dirty">
          </small>
        </div>
      </div>
    </form>
  </p-panel>
  }
  <p-overlayPanel #opName>
    <ng-template pTemplate="content">
      Ingrese el nombre del tipo de gasto
    </ng-template>
  </p-overlayPanel>
