<p-toolbar>
  <div class="p-toolbar-group-left">
    <button pButton type="button" (click)="redirectCreateForm()" [icon]="IconButtonActionEnum.CREATE"
      [label]="LabelButtonActionEnum.CREATE" [loading]="coreService.isLoading"
      [ngClass]="[ClassButtonActionEnum.CREATE]">
    </button>
    <button pButton type="button" (click)="findAll()" [icon]="IconButtonActionEnum.SYNC"
      [label]="LabelButtonActionEnum.SYNC" [loading]="coreService.isLoading"
      [ngClass]="[ClassButtonActionEnum.SYNC,'ml-2']">
    </button>
  </div>
  <div class="p-toolbar-group-right">

  </div>
</p-toolbar>

<p-table #dt1 dataKey="id" styleClass="p-datatable-striped" [value]="items" [columns]="columns"
  [globalFilterFields]="['code', 'name', 'expenseGroup.name']" [loading]="coreService.isLoading"
  [(selection)]="selectedItems">
  <ng-template pTemplate="caption">
    <div class="flex">
      <h1>{{ BreadcrumbEnum.BUDGET_ITEMS }}</h1>
      <div class="p-input-icon-right ml-auto">
        <i [class]="PrimeIcons.SEARCH"></i>
        <input #search pInputText type="text" placeholder="Buscar..."
          (input)="dt1.filterGlobal(search.value, 'contains')" />
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      @for (col of columns; track col){
      <th [pSortableColumn]="col.field">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      }
      <th class="text-center">
        {{ TableEnum.ACTIONS }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      @for (col of columns; track col) {
      <!--Objects-->
      @if (rowData[col.field]?.id) {
      <td>
        @switch (col.field) {
        @case ('expenseGroup') {
        {{ rowData.expenseGroup.name }}
        }
        }
      </td>
      }

      <!--Fields-->
      @if (!rowData[col.field]?.id) {
      <td>
        @switch (col.field) {
        @default {
        {{ rowData[col.field] }}
        }
        @case ('enabled') {
        <p-tag [value]="rowData[col.field]|enabled" [severity]="rowData[col.field]|enabledSeverity"></p-tag>
        }
        }
      </td>
      }
      }
      <td class="text-center">
        <button type="button" pButton [icon]="PrimeIcons.ELLIPSIS_V" (click)="selectItem(rowData)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        {{ messageService.paginatorNoRecordsFound }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    {{ messageService.paginatorTotalRegisters(items.length) }}
  </ng-template>
</p-table>

<app-button-action [buttonActions]="buttonActions" [enabled]="isButtonActions" (isHide)="isButtonActions=!$event">
</app-button-action>
