<p-table
  #dt
  dataKey="id"
  styleClass="p-datatable-striped"
  [value]="items"
  [columns]="columns"
  [globalFilterFields]="['product.name', 'product.code','observation']"
  [loading]="coreService.isLoading"
  [(selection)]="selectedItems">
  <ng-template pTemplate="caption">
    <div class="flex">
      <h1>{{ title }}</h1>
      <div class="p-input-icon-right ml-auto">
        <i [class]="PrimeIcons.SEARCH"></i>
        <div class="p-input-icon-right ml-auto">
          <p-inputGroup>
            <button type="button" pButton [icon]="PrimeIcons.SEARCH"></button>
            <input #search pInputText type="text"
                   [placeholder]="TableEnum.SEARCH"
                   (input)="dt.filterGlobal(search.value, 'contains')"/>
          </p-inputGroup>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      @for (col of columns; track col) {
        <th [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      }
      <th class="text-center">
        {{ TableEnum.ACTIONS }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
      @for (col of columns; track col) {
        <!--Objects-->
        @if (rowData[col.field]?.id) {
          <td>
            @switch (col.field) {
              @case ('product') {
                {{ rowData[col.field].name }}
              }
            }
          </td>
        }

        <!--Fields-->
        @if (!rowData[col.field]?.id) {
          <td>
            @switch (col.field) {
              @default {
                {{ rowData[col.field] }}
              }
              @case ('type') {
                <p-tag [value]="rowData[col.field]|transactionType"
                       [severity]="rowData[col.field]|transactionTypeSeverity"></p-tag>
              }
              @case ('date') {
                {{ rowData.date | date:'mediumDate' }}
              }
              @case ('code') {
                {{ rowData.product.code }}
              }
            }
          </td>
        }
      }
      <td class="text-center">
        <button type="button" pButton [icon]="PrimeIcons.ELLIPSIS_V" (click)="selectItem(rowData)"></button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        {{ messageService.paginatorNoRecordsFound }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    {{ messageService.paginatorTotalRegisters(items.length) }}
  </ng-template>
</p-table>

<app-button-action [buttonActions]="buttonActions" [enabled]="isButtonActions" (isHide)="isButtonActions=!$event">
</app-button-action>

@if (isTransactionForm) {
  <p-dialog header="Inventario"
            [(visible)]="isTransactionForm"
            [modal]="true"
            [style]="{ width: '100vw' }"
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <app-transaction-detail-form [transactionId]="'cod'"
                                 [isEditing]="true"
                                 [isIncome]="isIncome"
                                 [transactionDetail]="selectedItem"
                                 (transactionDetailFormOut)="editTransactionDetail($event)"></app-transaction-detail-form>
  </p-dialog>
}
