@if (coreService.isLoading) {
  <app-skeleton [type]="SkeletonEnum.CARD"></app-skeleton>
}

@if (!coreService.isLoading) {
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <app-header-form [id]="id"></app-header-form>
    </div>
    <div class="p-toolbar-group-right">
      <button pButton pRipple type="button"
              (click)="back()"
              [icon]="IconButtonActionEnum.CANCEL"
              [label]="LabelButtonActionEnum.CANCEL"
              [loading]="coreService.isLoading"
              [ngClass]="[ClassButtonActionEnum.CANCEL]"></button>
      <p-divider layout="vertical"></p-divider>
      <button pButton pRipple type="button"
              (click)="onSubmit()"
              [icon]="IconButtonActionEnum.SAVE"
              [label]="LabelButtonActionEnum.SAVE"
              [loading]="coreService.isLoading"
              [ngClass]="[ClassButtonActionEnum.SAVE]"></button>
    </div>
  </p-toolbar>

  <p-panel class="p-fluid">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="field">
        <label appLabel for="process" [label]="TransactionDetailsFormEnum.process"
          [required]="processField"></label>
        <p-dropdown id="process" dataKey="id" formControlName="process" [options]="transactions"
          optionLabel="name" [filter]="true" filterBy="name" placeholder="Seleccione...">
          <ng-template pTemplate="selectedItem">
            @if(processField.value){
            <div>
              <div>{{ processField.value.name }}</div>
            </div>
            }
          </ng-template>
          <ng-template let-item pTemplate="item">
            <div>{{ item.name }}</div>
          </ng-template>
        </p-dropdown>
        <small appErrorMessage [errors]="processField.errors" [touched]="processField.touched"
          [dirty]="processField.dirty">
        </small>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="programmingType" [label]="TransactionDetailsFormEnum.programmingType"
                 [required]="programmingTypeField"></label>
          <p-dropdown id="programmingType"
                      dataKey="id"
                      formControlName="programmingType"
                      [options]="programmingTypes"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      placeholder="Seleccione...">
            <ng-template pTemplate="selectedItem">
              @if (programmingTypeField.value) {
                <div>{{ programmingTypeField.value.name }}</div>
              }
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div>{{ item.name }}</div>
            </ng-template>
          </p-dropdown>
          <small appErrorMessage
                 [errors]="programmingTypeField.errors"
                 [touched]="programmingTypeField.touched"
                 [dirty]="programmingTypeField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="documentType" [label]="TransactionDetailsFormEnum.documentType"
                 [required]="documentTypeField"></label>
          <p-dropdown id="documentType"
                      dataKey="id"
                      formControlName="documentType"
                      [options]="documentTypes"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      placeholder="Seleccione...">
            <ng-template pTemplate="selectedItem">
              @if (documentTypeField.value) {
                <div>{{ documentTypeField.value.name }}</div>
              }
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div>{{ item.name }}</div>
            </ng-template>
          </p-dropdown>
          <small appErrorMessage
                 [errors]="documentTypeField.errors"
                 [touched]="documentTypeField.touched"
                 [dirty]="documentTypeField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="transaction" [label]="TransactionDetailsFormEnum.transaction"
                 [required]="transactionField"></label>
          <p-dropdown id="transaction"
                      dataKey="id"
                      formControlName="transaction"
                      [options]="transactions"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      placeholder="Seleccione...">
            <ng-template pTemplate="selectedItem">
              @if (transactionField.value) {
                <div>{{ transactionField.value.name }}</div>
              }
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div>{{ item.name }}</div>
            </ng-template>
          </p-dropdown>
          <small appErrorMessage
                 [errors]="transactionField.errors"
                 [touched]="transactionField.touched"
                 [dirty]="transactionField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="subactivity" [label]="TransactionDetailsFormEnum.subactivity"
                 [required]="subactivityField"></label>
          <p-dropdown id="subactivity"
                      dataKey="id"
                      formControlName="subactivity"
                      [options]="subactivities"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      placeholder="Seleccione...">
            <ng-template pTemplate="selectedItem">
              @if (subactivityField.value) {
                <div>{{ subactivityField.value.name }}</div>
              }
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div>{{ item.name }}</div>
            </ng-template>
          </p-dropdown>
          <small appErrorMessage
                 [errors]="subactivityField.errors"
                 [touched]="subactivityField.touched"
                 [dirty]="subactivityField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="unit" [label]="TransactionDetailsFormEnum.unit"
                 [required]="unitField"></label>
          <p-dropdown id="unit"
                      dataKey="id"
                      formControlName="unit"
                      [options]="units"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      placeholder="Seleccione...">
            <ng-template pTemplate="selectedItem">
              @if (unitField.value) {
                <div>{{ unitField.value.name }}</div>
              }
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div>{{ item.name }}</div>
            </ng-template>
          </p-dropdown>
          <small appErrorMessage
                 [errors]="unitField.errors"
                 [touched]="unitField.touched"
                 [dirty]="unitField.dirty">
          </small>
        </div>
        <div class="field xl:col-6 lg:col-6 md:col-6 sm:col-12">
          <label appLabel for="principalUnit" [label]="TransactionDetailsFormEnum.principalUnit"
                 [required]="principalUnitField"></label>
          <p-dropdown id="principalUnit"
                      dataKey="id"
                      formControlName="principalUnit"
                      [options]="units"
                      optionLabel="name"
                      [filter]="true"
                      filterBy="name"
                      placeholder="Seleccione...">
            <ng-template pTemplate="selectedItem">
              @if (principalUnitField.value) {
                <div>{{ principalUnitField.value.name }}</div>
              }
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div>{{ item.name }}</div>
            </ng-template>
          </p-dropdown>
          <small appErrorMessage
                 [errors]="principalUnitField.errors"
                 [touched]="principalUnitField.touched"
                 [dirty]="principalUnitField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
          <label appLabel for="amount" [label]="TransactionDetailsFormEnum.amount" [required]="amountField"></label>
          <p-inputNumber id="amount" formControlName="amount" [min]="1"></p-inputNumber>
          <small appErrorMessage [errors]="amountField.errors" [touched]="amountField.touched" [dirty]="amountField.dirty">
          </small>
        </div>
        <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
          <label appLabel for="advance" [label]="TransactionDetailsFormEnum.advance" [required]="advanceField"></label>
          <p-inputNumber id="advance" formControlName="advance" [min]="1"></p-inputNumber>
          <small appErrorMessage [errors]="advanceField.errors" [touched]="advanceField.touched" [dirty]="advanceField.dirty">
          </small>
        </div>
        <div class="field xl:col-4 lg:col-4 md:col-4 sm:col-12">
          <label appLabel for="cur" [label]="TransactionDetailsFormEnum.cur" [required]="curField"></label>
          <input pInputText type="text" id="cur" formControlName="cur"/>
          <small appErrorMessage
                 [errors]="curField.errors"
                 [touched]="curField.touched"
                 [dirty]="curField.dirty">
          </small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
          <label appLabel for="goal" [label]="TransactionDetailsFormEnum.goal" [required]="goalField"></label>
          <p-inputNumber id="goal" formControlName="goal" [min]="1"></p-inputNumber>
          <small appErrorMessage [errors]="goalField.errors" [touched]="goalField.touched" [dirty]="goalField.dirty">
          </small>
        </div>
        <div class="field xl:col-3 lg:col-3 md:col-3 sm:col-12">
          <label appLabel for="date" [label]="TransactionDetailsFormEnum.date" [required]="dateField"></label>
          <p-calendar for="date" formControlName="date" [showIcon]="true"></p-calendar>
          <small appErrorMessage
                 [errors]="dateField.errors"
                 [touched]="dateField.touched"
                 [dirty]="dateField.dirty">
          </small>
        </div>
        <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
          <label appLabel for="isIva" [label]="TransactionDetailsFormEnum.isIva" [required]="isIvaField"></label>
          <p>
            <p-inputSwitch id="isIva" formControlName="isIva"></p-inputSwitch>
          </p>
          <small appErrorMessage [errors]="isIvaField.errors" [touched]="isIvaField.touched"
            [dirty]="isIvaField.dirty">
          </small>
        </div>
        <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
          <label appLabel for="enabled" [label]="TransactionDetailsFormEnum.enabled" [required]="enabledField"></label>
          <p>
            <p-inputSwitch id="enabled" formControlName="enabled"></p-inputSwitch>
          </p>
          <small appErrorMessage [errors]="enabledField.errors" [touched]="enabledField.touched"
            [dirty]="enabledField.dirty">
          </small>
        </div>
        <div class="field xl:col-2 lg:col-2 md:col-2 sm:col-12">
          <label appLabel for="state" [label]="TransactionDetailsFormEnum.state" [required]="stateField"></label>
          <p>
            <p-inputSwitch id="state" formControlName="state"></p-inputSwitch>
          </p>
          <small appErrorMessage [errors]="stateField.errors" [touched]="stateField.touched"
            [dirty]="stateField.dirty">
          </small>
        </div>
      </div>
    </form>
  </p-panel>
}

