::ng-deep .p-datatable tbody td {
  padding: 0.25rem;
  text-align: center;
  max-width: 100px;
}

::ng-deep .p-datatable thead th {
  max-width: 100px;
}

::ng-deep .p-datatable tbody input {
  width: 80px;
  height: 20px;
}

