@if (items.length) {
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
}

@if (coreService.isLoading) {
  <app-progress-bar></app-progress-bar>
}

<p-overlayPanel #op>
  @if (authService.auth) {
    <div class="text-center">
      <p-avatar [image]="HOST_URL+authService.auth.avatar" styleClass="mr-2" size="xlarge"
                shape="circle"></p-avatar>
    </div>
    <div class="field">
      <button pButton pRipple type="button"
              class="p-button-text"
              [icon]="PrimeIcons.USER"
              pTooltip="Usuario"
              [label]="authService.auth.name + ' ' + authService.auth.lastname"
              (click)="redirectProfile()"></button>
      <p-divider></p-divider>
      <button pButton pRipple type="button"
              class="p-button-text"
              [icon]="PrimeIcons.ID_CARD"
              pTooltip="Rol"
              [label]="authService.role.name"
              (click)="redirectProfile()"></button>
      <br>
      @if (coreService.version != coreService.newVersion) {
        <button pButton pRipple type="button"
                class="p-button-success p-button-text"
                [icon]="PrimeIcons.SYNC"
                pTooltip="Nueva Actualización"
                [label]="'Actualizar '+coreService.newVersion"
                (click)="updateSystem()"></button>
      }
      <p-divider></p-divider>
      <button pButton pRipple type="button"
              class="p-button-danger p-button-text"
              [icon]="PrimeIcons.SIGN_OUT"
              label="Cerrar Sesión"
              (click)="signOut()"></button>
    </div>
  }
</p-overlayPanel>

